/* Reused some styles from my Labs 3 & 4 */
body {
    font-family: "Segoe UI Light", sans-serif;
    color: white;
    background-color: #363636;
}

a {
    color: white;
}

a:hover {
    color: #b80404;
}

#content {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    padding: 20px;
    margin: 20px 5px;
}

.subtitle {
    font-size: 120%;
    padding: 0px 5px;
    margin: 5px;
}

.inner-content {
    width: 80%;
    vertical-align: middle;
    margin: auto;
	font-size: 14pt;
}

.inner-content p {
	margin: 2px;
}

.centered {
    vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

label {
    padding-right: 10px;
}

input[type="number"] {
    width: 30px;
    height: 15px;
}

textarea, input, select {
    font-family: "Segoe UI Light", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
	font-size: 12pt;
}

#buttons {
    text-align: center;
    border: none;
}

.button {
    padding: 8px 10px 8px;
    margin: 0px 5px;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
    background: #e6e6e6;
}

.alert {
    color: #ff4242;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    display: none;
    padding: 0px 10px;
}

table, td, th {
	border-collapse:collapse;
	border:thin solid white;
}

table {
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

td, th {
	text-align:center;
	vertical-align:middle;
	padding: 8px 30px;
}

.helptext {
	font-size: 10pt;
}