/* Reused some styles from my Labs 3 & 4 */
body {
    font-family: "Segoe UI Light", sans-serif;
    color: white;
    background-color: #2b2b2b;
}

a {
    color: white;
}

a:hover {
    color: #b80404;
}

#content {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title {
	font-family: "Segoe UI Semibold";
	font-size: 350%;
	font-variant: small-caps;
	margin: 0px;
}

.subtitle {
    font-size: 150%;
    padding: 0px 5px;
    margin: 5px;
}

p {
	margin: 2px;
}

.expandable {
	display: block;
    border-width: 2px;
    border-style: ridge;
    border-image: initial;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
    vertical-align: middle;
	font-size: 14pt;
}

.centered {
    vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

label {
    padding-right: 10px;
}

textarea, input, select {
    font-family: "Segoe UI Light", sans-serif;
    margin: 7px 4px;
    padding: 10px;
	font-size: 12pt;
	background-color: #4d4d4d;
	color: white;
	border: thin solid white;
}

.button {
    padding: 12px 10px;
    margin: 0px 5px;
    display: inline-block;
    font-weight: bold;
	min-width: 25%;
}

.helptext {
    color: #ff4242;
    display: none;
	font-style: italic;
	font-weight: bold;
	font-size: 95%;
	padding: 5px;
}

.numfield {
	margin-left: 0px;
	margin-right: 0px;
	max-width: 12%;
	min-width: 30px;
	display: inline-block;
	background-color: #4d4d4d;
	color: white;
}

.conv-input {
	background-color: #4d4d4d;
	color: white;
}

.input-group {
	margin: 3px 0px;
	padding: 3px 0px;
	border: thin grey dotted;
}

#category {
	min-width: 20%;
}

.hidden {
	display: none;
}

.equals {
	display:inline;
	padding-left: 10px;
	padding-right: 10px;
}

.formula-const {
	display: inline-block;
	width: 10%;
	background-color: #4d4d4d;
	margin: 7px 4px;
    padding: 10px;
	font-size: 12pt;
}

.star {
	color: goldenrod;
	font-size: 150%;
	display: none;
}

.answer {
	display: inline-block;
	background-color: #4d4d4d;
	margin: 7px 4px;
    padding: 10px;
	font-size: 12pt;
	border: 5px double #02b55e;
	min-width: 30px;
	min-height: 20px;
}

.favebar {
	margin-top: 25px;

}

.fave-button {
    padding: 5px 9px;
    display: inline-block;
	font-size: 80%;
	border: none;
}